name: GH Kube-Proxy - IPVS
on: [push]
jobs:
  kind-job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16'
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.1.0
        with:
          config: hack/kind-multi-worker-ipvs.yaml
          version: v0.11.0
      - run: |
          ./hack/install_metallb.sh
      - run: |
          go test -v ./tests
